.modal_OverlayCRUD_Entity {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    }
    
    .modal_CRUD_EntityAlmacen {
      background-color: white;
      border-radius: 15px;
      padding: 15px;
      max-width: 1000px;
      width: 100%;
      position: relative;
    }
    
    .modal_Content_AlmacenEntities {
      background-color: #d8d6d657;
      border-radius: 12px;
      border-color: #0056b3;
      border-style: groove;
      text-align: center;
      display: flex;
      flex-direction: column;
      
      .inputs_addedit_Entity {
        display: flex;
        flex-direction: column; /* Alinea verticalmente las etiquetas y los inputs */
        padding: 10px;
        
        .form_addedit_Entity{
          
          .addProveedor_Data{
              display: flex;
              gap: 15px;
              
              .addProveedor_FirstColumn{
                  flex: 1;
              }
  
              .addProveedor_SecondColumn{
                  flex: 1;
              }
  
              .addProveedor_ThirdColumn{
                flex: 1;
              }
            }

            .modal_buttons {
              display: flex;
              justify-content: center;  
              gap: 15px;      
              margin-top: 15px;
        
              .button_addedit, .button_delete, .button_close {
                padding: 8px 16px;
                border-radius: 4px;
                font-size: 14px;
                cursor: pointer;
              }
        
              .button_addedit {
                background-color: #0056b3;
                color: white;
                border: 1px solid #cecece;
                margin-bottom: 10px;
        
              }
        
              .button_addedit:hover{
                background-color: #3e9bff;
                border: 1px solid #757575;
        
            }
        
              .button_delete {
                background-color: #e71b0c;
                color: white;
                border: 1px solid #cecece;
                margin-bottom: 10px;
              }
              
              .button_close {
                background-color: #cccccc4d;
                color: #00000063;
                border: 1px solid #cecece;
                margin-bottom: 10px;
              }
        
              .button_close:hover{
                background-color: #cccccc93;
                border: 1px solid #cecece;
            }
            }
  

          
        }

        label{
          display: flex;
          flex-direction: column; /* Hace que el input esté justo debajo de la etiqueta */
          font-weight: bold;
          text-align: left; /* Alinea las etiquetas a la izquierda */
          margin-top: 10px;

          
        }
        
        input {
          padding: 8px;
          margin-top: 5px; /* Separación entre la etiqueta y el input */
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 14px;
        }

        select {
          padding: 8px;
          margin-top: 5px; /* Separación entre la etiqueta y el input */
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 14px;
        }
  
      }
      
      
      
    }