.mainDiv_ClasificacionesControl{
    
    .searchAdd_ButtonDiv{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0px;        
        
        .text_Div{
            display: flex;
            color: #383838d5;
            flex: 1;
            justify-content: space-between;
            
            h1{
                font-size: 25px;
                margin: 5px;
                align-self: center;
                
            }
            

        }

        .buttons_Div{
            display: flex;
            gap: 20px;
            padding: 10px;

            .selectList{
                text-align: center;
                border-radius: 8px;
                border-width: 2px;
                border-style: groove;
            }

            input{
                width: 250px;
                border-radius: 8px;
                border-width: 2px;
                border-style: groove;

                padding: 10px;
            }

            button{
                display: flex;
                gap: 5px;
                background-color: #da29fd;
                color: #ffffff;
                font-weight: 800;
                font-size: 15px;
                align-items: center;
                justify-content: center;
                width: 250px;
                border-radius: 8px;
                padding: 5px;
                cursor: pointer;

                .iconAdd{
                    font-size: 20px;
                }
            }

            .buttonAdd:hover{
                background-color: #df67f7 !important;
                color: #000000;

            }
        }

        
    }
    
    .noEntities{
        display: flex;
        background-color: #f7fa52a2;
        justify-self: center;
        align-items: center;
        text-align: center;
        margin-top: 30px;
        padding: 0px 30px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 600;
        border-style:  dashed;
        border-color: #00000057;

        p{
            margin: 30px 20px;
        }

        
    }
    
    .list_entitiesDiv{
        display: flex;
        background-color: #ffffff;
        border-radius: 10px;
        margin: 10px 15px;
        padding: 10px 10px;
        margin-bottom: 10px;

        table{
            text-align: left;
            width: 100%;

            /*Heads Table*/
            tr{

                th{
                    border-width: 1px;
                    border-color: #d8d5d5d5;
                    border-bottom-style: solid;
                    padding-bottom: 10px;
                }
                
                #th_ID{
                    width: 30px;
                    text-align: center;
                }


                #th_UserControl_CuentaActiva{
                    text-align: center;
                }

                #th_UserControl_UltimaInicio{
                    text-align: center;
                }

                #th_UserControl_Rol{
                    text-align: center;
                }

                #th_UserControl_Departamento{
                    width: 220px;
                    text-align: center;
                }
                


                #th_Acciones{
                    text-align: center;
                    width: 90px;

                }
            }

            
            /*Body Table*/
            tr{
                td{
                    font-size: 14px;
                    border-width: 1px;
                    border-color: #d8d5d5d5;
                    border-bottom-style: solid;
                    padding: 10px 5px;
                }

                /

    
                #td_ID{
                    border-width: 1px;
                    border-color: #d8d5d5d5;
                    border-right-style: solid;
                    text-align: center;
                }

                

                #td_UserControl_CuentaActiva{
                    text-align: center;
                }

                #td_UserControl_UltimaInicio{
                    text-align: center;
                }

                #td_UserControl_Rol{
                    text-align: center;
                    font-size: 20px;
                    cursor: pointer;
                }

                #td_UserControl_Rol:hover{
                    color: #007bff;
                }

                #td_UserControl_Departamento{
                    text-align: center;
                }


                
                #td_Acciones{
                    border-width: 1px;
                    border-color: #d8d5d5d5;
                    border-left-style: solid;
                    text-align: center;
                    
                    .divActions{
                        display: flex;
                        justify-content: center;

                        .button_editEntity{
                            display: flex;
                            align-items: center;
                            background-color: transparent;
                            border: transparent;
                            color: #007bff;
                            cursor: pointer;
                            font-size: 20px;


                        }

                        .button_editEntity:hover{
                            color: #00ccff;
                        }

                        .button_deleteEntity{
                            display: flex;
                            align-items: center;
                            background-color: transparent;
                            border: transparent;
                            color: #ff000075;
                            cursor: pointer;
                            font-size: 20px;

                        }

                        .button_deleteEntity:hover{
                            color: #ff0000;

                        }
                    }
                }
            }
        }
    }


}