.modalComponent_AlmacenAF {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    h2{
        justify-self: center;
        margin: 0 0 10px 0;
    }

    .modalActivosFijos{
        background-color: #ffffff;
        border-radius: 15px;
        padding: 15px;

        .titleCódigoÚnicoAF{
            margin: 0;
            color: #666;
            font-weight: 600;
            text-align: center;

            .textCódigoUnico{
                margin: 0;
                font-size: 20px;
                color: #a412dd;
                font-weight: 700;
            }
        }

        .divInputs_AddEdit_ActivoFijo{

            .form_AddEdit_ActivoFijo{

                label{
                display: flex;
                flex-direction: column;
                font-size: 13px;
                text-align: left;
                margin-top: 10px;
                font-weight: bold;

                .emailInput{
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    
                    input{
                        flex: 1;
                    }
                    
                }
                }

                input, select{
                    padding: 8px;
                    margin-top: 5px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    font-size: 14px;
                    text-align: center;
                }

                .dataInputs_ActivoFijo{
                    display: flex;
                    gap: 10px;


                    .addActivoFijo_FirstColumn{
                        background-color: #80808046;
                        padding: 10px;
                        border-radius: 10px;
                        gap: 15px;
                        
                        .inputs_addActivoFijo {
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            gap: 10px;
                        }
                        

                        

                        
                    }

                    .asignacionAF_SecondColumn{
                        
                        background-color: #80808046;
                        padding: 10px;
                        border-radius: 10px;
                        gap: 15px;
                        position: relative;

                        .divInfoAsignación{
                            display: none; /* Oculto por defecto */
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            
                            transform: translate(-50%, -50%);
                            width: 260px;
                            height: 330px;
                            z-index: 10;
                            background-color: #f8f9fa;
                            border: 2px solid #e9ecef; 
                            border-radius: 8px;
                            padding: 15px;
                            border-left-color: #17a2b8;
                            border-left-width: 4px;
                            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
                            transition: all 0.3s ease;

                            div{
                                display: block;
                                color: #495057;
                                font-size: 20px;
                                font-weight: 500;

                                span{
                                    font-size: 18px; 
                                    margin-right: 8px;
                                    color: #17a2b8;
                                }

                                p{
                                    margin: 20px 0 0 5px; 
                                    color: #6c757d;
                                    font-size: 18px;
                                    line-height: 1.4;

                                    strong{
                                        color: #17a2b8;
                                    }
                                }
                            }

                            
                            
                        }

                        /* Mostrar el div de información al hacer hover */
                        &:hover .divInfoAsignación {
                            display: block;
                        }

                        .inputs_asignacionAF{
                            .textarea_motivoMovimientoAF{
                                font-family: system-ui;
                                height: 80px;
                                padding: 8px;
                                border: 1px solid #ccc;
                                border-radius: 4px;
                                font-size: 14px;
                            }
                        }
                        

                    }

                    
                }
            }
            
        }

        .divDeleteActivoFijo{
            display: flex;
            flex-direction: column;
            padding: 15px;
            background-color: #ececec;
            border: 2px solid #b31500;
            border-radius: 10px;
            align-items: center;
            gap: 20px;


            p{
                text-align: center;

                small{
                    font-size: 15px;
                    font-weight: 500;
                    color: #b31500;
                }

            }

            ul{
                margin: 0px;
                padding: 0px;
                list-style: none;
                
            }


                
        }

        

        
    }

}