.mainDiv_PageHome {
    display: flex;
    height: 100%;
    position: relative;
    background: linear-gradient(180deg, #1f0166 30%, #0454ca 70%, #538ee6 100%); 

    .pageHome_Sidebar{
        display: flex;
        position: fixed;
        transition: all 0.4s ease-in-out; /* Transición suave */

        z-index: 3;
        background: linear-gradient(180deg, #1f0166 30%, #a52bf7 80%, #cf9af3 100%);
        border-right-style: groove;
        border-right-width: 5px;
        padding: 10px;
        color: #ffffff;
        height: 100%; 
        width: 2.4vw;
        overflow-y: auto; /* Agrega un desplazamiento interno si es necesario para contenido dentro del SideBar */

        .Sidebar{
            max-height: 100vh;
            overflow-x: hidden;
            overflow-y: hidden;

            .Sidebar_Header{
                transition: all 0.3s ease-in; /* Transición suave */

                margin-bottom: 10px;

                .navBarHeader_title {
                    display: flex;
                    justify-content: center;

                    h1{
                        cursor: pointer;
                    }

                    .navBarHeader_img {
                        width: 30px;
                        cursor: pointer;
                        border: 2px solid transparent;
                        border-image: linear-gradient(
                            45deg,
                            #5bfaff 20%,
                            #a830ee,
                            #5bfaff 80%

                        );
                        border-image-slice: 1;
                    }
            
                    .navBarHeader_text {
                        display: none;
                    }
                }

                .navBarHeader_Divisor {
                    width: 35px;
                }
            
                .navBarHeader_avatarlogout {

                    display: none;

                    .avatar{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        border: 2px solid transparent; /* Borde invisible inicialmente */


                        p{
                            margin: 0px;
                            font-size: 12px;
                        }

                    }

                    .logout{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        border: 2px solid transparent; /* Borde invisible inicialmente */

                        p{
                            margin: 0px;
                            font-size: 12px;
                        }    
                    }
                }
            }
            
            .Sidebar_OptionsSearch{
                transition: all 0.3s ease-in; /* Transición suave */

                .navBar_Search {
                    display: none;
                }
                    
            }

            .Sidebar_OptionsList{
                transition: all 0.3s ease-in; /* Transición suave */
                
                
                ul.Sidebar_Options{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 25px;
                    padding: 0px;
                    margin: 0px;
                    gap: 15px;
                    flex-wrap: hidden;
                    overflow-x: hidden;
                    overflow-y: hidden;
                    max-height: 100vh;
                    list-style: none;

                    li{
                        .divOption_IconTitle{
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            transition: background-color 0.3s ease-in-out;

                            span{
                                display: none;
                            }

                            #SubMenu_Almacen, #SubMenu_Administrador{
                                
                                .divMenu_SubMenus{
                                    
                                    .SubMenu_IconTitle{
                                        display: flex;

                                        span{
                                            display: none;
                                        }

                                        .IconSubMenuArrow{
                                            display: none;
                                        }
                                        
                                    }
                                    
                                    .SubMenu_Options{
                                        display: none; 

                                        ul{
                                            display: none;

                                            li{
                                                p{
                                                    display: none;
                                                }
                                            }
                                            
                                        }
                                    }
                                }
                            }
                           
                        }

                        
                    }

                    .sidebar_SectionSelected, .sidebar_Section_SubMenuSelected {
                        color: #5bfaff;
                    }

                    

                }
                    
            }
            
        }
    }

    .pageHome_Sidebar:hover{
        display: flex;
        width: 18vw;
        overflow: visible;
        box-shadow: 15px 0 10px rgba(0, 0, 0, 0.15); /* Sombra más fuerte */
        z-index: 3;

        
        .Sidebar{
            display: flex;
            flex-direction: column;
            justify-self: center;
            width: 100vw;

            .Sidebar_Header{
                
                .navBarHeader_title {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                    .navBarHeader_img {
                        width: 50px;
                        border: 2px solid transparent;
                        border-image: linear-gradient(
                            45deg,
                            #5bfaff 20%,
                            #a830ee,
                            #5bfaff 80%
                            
                            );
                        border-image-slice: 1;
                        
                    }
            
                    .navBarHeader_text {

                        display: flex;
                        font-weight: 700;
                        font-size: 16px;
                        margin: 5px 0px 0px 0px;
                        
                    }
                    
                }
                
                .navBarHeader_Divisor {
                    width: 190px;
                    margin-bottom: 10px;
                }
            
                .navBarHeader_avatarlogout {
                    display: flex;
                    justify-content: center;
                    gap: 30px;
                    font-size: 30px;

                    .avatar{
                        padding: 4px;
                        cursor: pointer;
                        .navBarHeader_avatar{
                            padding: 2px;
                        }

                    }

                    .avatar:hover{
                        background: #7a25dbe8 !important;
                        border-color: #ffffff;
                        border-style: solid;
                        border-width: 2px;
                        border-radius: 10px;
                        
                    }

                    .logout{
                        padding: 4px;
                        cursor: pointer;
                        .navBarHeader_logout{
                            padding: 2px;

                        }

                    }

                    .logout:hover{
                        background: #7a25dbe8 !important;
                        border-color: #ffffff;
                        border-style: solid;
                        border-width: 2px;    
                        border-radius: 10px;

                    }
                                        
                }
                
                
            }

            .Sidebar_OptionsSearch{
                display: flex;
                margin-bottom: 20px;
                
                
                .navBar_Search {
                    display: flex;
                    flex: 1;
                    background-color: #a0a5aa77;
                    border-top-right-radius: 15px;
                    border-style: groove;
                    border-width: 1px;
                    
                    .navBarSearch_icon {
                        font-size: 25px;
                        align-items: center;
                        margin-left: 10px;
                        margin-right: 5px;
                        
                    }
                    
                    .navBarSearch_input {
                        width: 100%;    
                        color: #ffffff;
                        font-size: 15px;
                        background: transparent;
                        border-top-right-radius: 15px;
                    }
                }
            
            }
            
            .Sidebar_OptionsList{
                border-style: solid;
                border-width: 1px;
                user-select: none;
                
                ul.Sidebar_Options{
                    background-color: #a0a5aa77;
                    align-items: initial;
                    gap: 0px;
                    font-size: 30px;
                    flex-wrap: initial;
                    overflow-x: hidden;
                    overflow-y: auto;
                    max-height: 68vh;

                    li{
                        padding: 5px 0px;

                        .divOption_IconTitle{
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            .iconOption_Sidebar{
                                margin-left: 5px;
                            }
                            
                            span{
                                display: flex;
                                font-size: 15px;
                                font-weight: 500;
                            }

                            #SubMenu_Almacen, #SubMenu_Administrador{
                                width: 100%;
                                
                                .divMenu_SubMenus{
                                    .SubMenu_IconTitle{
                                        display: flex;
                                        align-items: center;
                                        gap: 10px;
                                        flex: 1;
                                        
                                        span{
                                            display: flex;
                                            font-size: 15px;
                                            font-weight: 500;
                                        }

                                        .IconSubMenuArrow{
                                            display: flex;
                                            margin-left: auto;
                                            margin-right: 5px;
                                            font-size: 25px;
                                            transition: transform 0.3s ease;

                                        }

                                        .IconSubMenuArrow.rotate {
                                          transform: rotate(180deg); /* Gira el icono cuando se añade la clase .rotate */
                                        }
                                    }

                                    .SubMenu_Options{
                                        display: flex;
                                        
                                        ul{
                                            cursor: default;
                                            display: flex;
                                            flex-direction: column;
                                            padding: 10px;
                                            width: 100%;
                                            gap: 10px;
                                            
                                            li{
                                                display: flex;
                                                align-items: center;
                                                border-style: groove;
                                                border-radius: 10px;
                                                border-width: 1px;
                                                padding-left: 10px;
                                                gap: 10px;
                                                font-size: 20px;
                                                cursor: pointer;
                                                
                                                p{
                                                    display: flex;
                                                    font-size: 16px;
                                                    margin: 0px;

                                                }
                                            }

                                            li:hover{
                                                background: #8648cee8;
                                                border-color: #ffffff;
                                                border-style: solid;
                                                border-width: 2px;
                                            }
                                        }
                                    }
                                }
                            }

                        }

                    }

                    li:hover{
                        background: #7424cfe8;
                        border-color: #ffffff;
                        border-style: solid;
                        border-width: 2px;
                    }
                }

                .sidebar_Options::-webkit-scrollbar {
                    width: 12px; /* Ancho de la barra de desplazamiento */
                }
                
                .sidebar_Options::-webkit-scrollbar-track {
                    background: transparent; 
                    border-left-style: solid;
                    border-color: aliceblue;
                    border-width: 2px;
                }
                
                .sidebar_Options::-webkit-scrollbar-thumb {
                    background-color: #99a5b8;
                    border-radius: 6px; 
                    border-style: solid;
                    border-color: #911a91;
                }
                
                .sidebar_Options::-webkit-scrollbar-thumb:hover {
                    background-color: #aebdd4;
                }

                
            
            }

            
            
        }
    }


    .pageHome_MainContent{
        display: flex;
        z-index: 1;
        background-color: #aebdd4;
        flex-direction: column;   
        padding: 10px 10px;
        width: 100%;
        
        .div_MainContent{
            display: flex;
            flex-direction: column;
            height: 100%;
            margin-left: 3.7vw;
            max-width: 95vw;

            .div_infoHeader{
                background: linear-gradient(180deg, #1f0166 30%, #a52bf7 80%, #af36ffe3 95%);
                color: #ffffff;
                height: 25px;
                text-align: center;
                justify-content: center;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;

                p{
                    margin: 0px;
                }
            }

            .div_SectionSelected{
                background-color:#ffffff7a;
                flex: 1;
                border-bottom-style: groove;
                border-color: #1f0166;
                border-width: 4px;
                
            }
        }

    }






}

@keyframes fadeInSlide {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.subMenuOption {
    opacity: 0;
    transform: translateY(10px);
}

.delayOption1 {
    animation: fadeInSlide 0.3s ease forwards;
    animation-delay: 0.05s;
}

.delayOption2 {
    animation: fadeInSlide 0.3s ease forwards;
    animation-delay: 0.1s;
}

.delayOption3 {
    animation: fadeInSlide 0.3s ease forwards;
    animation-delay: 0.15s;
}

.delayOption4 {
    animation: fadeInSlide 0.3s ease forwards;
    animation-delay: 0.2s;
}
